body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  /* background-color: #404040; */
}

table {  
  border-collapse: collapse; 
  width: 100%;
  border: 1px solid #ddd; 
  font-size: 18px; 
  
}
td, th {   
text-align: left; 
padding: 8px; 
font-size: larger;
}  
tr{
border-bottom: 1px solid #ddd;
}
tr.header, tr:hover {
background-color: #f1f1f1;
}
tr:hover th #update_reim_btn{
  background-color: #f1f1f1;
}
th #update_reim_btn{
  background-color: white;
  cursor: default;
  border: none;
  height: 20px;
}
th 
#header_row{
  height: 50px;
}
.login {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.login p {
  margin: 20px 0 0;
}

.login p:first-child {
  margin-top: 0;
}

.login input[type=text], .login input[type=password] {
  width: 278px;
}

.login p.remember_me {
  float: left;
  line-height: 31px;
}

.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}

.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
 
:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
#table_container{
  width: fit-content;
}
#my_input {
  width: 1500px;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.submit{
  margin-top: 6px;
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-align: left;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  box-sizing: content-box;
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  width: fit-content;
}

.submit:active {
  text-align: left;
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
#login_page{
  background-image: url("./ParksAndRec.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
b{
padding-left: 5px;
}
button{
background-image: url("filterImage.png");
background-repeat: no-repeat;
background-position: center;
background-size: 20px 20px;
height: 25px;
width: 20px;
}
.statusBtn{
background-image: none;
border: none;
cursor: pointer;
width: fit-content;
height: fit-content;
font-size: large;
}

li{
display: inline-block;
}
#add_reim_btn{
background-image: none;
background: rgb(28, 184, 65);
cursor: pointer;
font-size: 20px; 
padding: 12px 20px 12px 40px; 
height: 60px;
width: fit-content;
border: 1px solid #ddd; 
margin-bottom: 12px;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#update_reim_btn{
background-image: none;
background: rgb(66, 184, 221);
cursor: pointer;
font-size: 20px; 
padding: 3px 5px 3px 5px; 
height: 70px;
width:150px;
border: 1px solid #ddd; 
margin-top: 24px;
margin-bottom: 12px;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
display: block;
position: relative;

}
#submit_reim_btn{
background-image: none;
background: rgb(66, 184, 221);
cursor: pointer;
font-size: 20px; 
padding: 3px 5px 3px 5px; 
height: 70px;
width:300px;
border: 1px solid #ddd; 
margin-top: 24px;
margin-bottom: 12px;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
display: block;
position: relative;
left: 600px;
}

.modal {
visibility: hidden; /* Hidden by default */
position: fixed; 
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
top: 0px;
right:0px;
position: relative;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#reim_header{
text-align: center;
padding-bottom: 30px;
font-family: 'Open Sans Condensed', sans-serif; 
font-size: 40px; 
color: #333;
text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#reim_form:hover{
background-color: transparent;
}

.required{
color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#change_status{
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content button{
  width: fit-content;
  background-image: none;
  cursor: pointer;
}

#change_note_btn{
  background-image: none;
  background-color: #555555; 
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: fit-content;
  height: 40px;
}