body {
    text-align: center;
    background-color: #654321;
}
ul li {
    background-color: white;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display:inline-block;
}
nav li {
    list-style-type: none;
}

td {
    padding: 1%;
    width: 33%;
    height: 400px;
}

td img{
    width: 75%;
    height: 100%;
}