body {
    text-align: center;
    background-color: #654321;
}

ul li {
    background-color: white;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display:inline-block;
}
nav li {
    list-style-type: none;
}

#pack {
    width: 10%;
    height: 50%;
}

#boosterBox {
    width: 15%;
    height: 7%
}